.projectsContainer {
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 0 0 0 30px;
    overflow-y: scroll;
}

.project {
    display: flex;
    flex-direction: column;
    /* height: 30vh; */
}

.projectTitle {
    font-family:  Helvetica, sans-serif;
    color:  #122c6ed3;
    font-size: 35px;
    padding: 10px 0 10px 0;
}

.projectDetailsContainer{
    padding: 10px 0px 0 15px
}

.descriptionLabel {
    font-size: 25px;
    color: #122c6ed3;

}

.description {
    margin-top: 20px;
    color: #0c1b41;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}

.technologiesList {
    color: #0c1b41;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}