.projectsContainer {
    display: flex;
    flex-direction: column;
    width:100%;
    padding: 0 0 0 20px;
    overflow-y: scroll;
}

.project {
    display: flex;
    flex-direction: column;
    /* height: 30vh; */
}

.projectTitle {
    font-family:  Helvetica, sans-serif;
    color:  #264696a4;
    font-size: 30px;
}