.About {
    font-family: 'Roboto', sans-serif;
    height:100vh;
    color: rgb(240, 240, 240);
    background-color: rgb(34, 34, 34);
    position: relative;
}


.aboutTitle {
    margin:0;
    font-size:50px;
    padding:2% 0 2% 5%;
    border-bottom:1px solid #FF6A4B;
    letter-spacing: 3px;
}

.headshot {
    width:20vw;
    height:20vw;
    object-fit: cover;
    padding:5%;
    margin:25% 10% 0% 15%;
    border-radius: 50%;
    border-right:1px solid #FF6A4B;
}

.aboutBio {
    margin:12% 12% 0% 5%;
    float: right;
    height:15vw;
    width:80%;
    font-size: 20px;
    line-height: 2rem;
    border-bottom: 1px solid #FF6A4B;
}

.bioBottom {
    width:10rem;
    border: 1px solid #FF6A4B;
    margin: 10% 0 10% 0;
}

.contactInfoDiv {
    font-weight: 100;
    font-size: 18px;
    width:80%;
    margin:35% 0% 0% 8%;
}   

* {
    list-style: none;
}

.contactIcon {
    color:#FF6A4B;
    padding:1%;
}


.link {
    text-decoration:none; 
    color:inherit;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.link:hover {
    color:#FF6A4B;
}