.Header {
    background:#f1f1f1 ;
    font-family: 'Noto Sans', sans-serif;
    height:100vh;
    /* text-align: center; */
    flex-direction: row;
    display: flex;
}

.name {
    padding: 20px 0 20px 0;
    margin: 5% 0 0 0;
    font-family: 'Noto Sans', sans-serif;
    color: #122c6ed3;
    font-weight: 400;
    font-size: 20px;
}

.title {
    font-size: 25px;
    font-weight: 100;
    color: #CBD6F5;
}

.nameTitle {
    width:11%;
    text-align: center;
    padding: 40px 20px 20px 15px;
    display:flex;
    flex-direction: column;
    border-right: 1px solid #122c6ed3;
}

.ContactLi {
    padding: 5px 0 5px 0;
    font-size: 12px;
}   

.aboutTitle {
    margin:0;
    font-size:50px;
    padding:2% 0 2% 5%;
    border-bottom:1px solid #122c6ed3;
    letter-spacing: 3px;
}

.headshot {
    width: 90%;
    height:100%;
    object-fit: cover;
    /* padding: 15px; */
    /* margin-top: 20px; */
    /* margin: 20px 15px 15px 0; */
    border-radius: 25%;
    border:1px solid #122c6ed3;
}

.bioBottom {
    width:10rem;
    border: 1px solid #122c6ed3;
    margin: 10% 0 10% 0;
}

.contactInfoDiv {
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    /* align-self: baseline; */
    margin-top: auto;
} 

* {
    list-style: none;
}

.contactIcon {
    color:#122c6ed3;
    padding:1%;
}


.link {
    text-decoration:none; 
    color:inherit;
    border-bottom: 1px solid  #122c6ed3;
}

.link:hover {
    color:#122c6ed3;
}